.peq {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	font-weight: bolder;
	text-align: right;


}
a:link {

	font-weight: normal;
	text-decoration: none;
	color: #FFFFFF;
}
a:visited {

	color: #FFFFFF;
	text-decoration: none;
}
a:hover {

	font-weight: bold;
	color: #00CC33;
	text-decoration: none;
	letter-spacing: 5px;
}
.normal {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 15px;
	font-weight: bolder;
	letter-spacing: 1px;
	word-spacing: normal;
	color: #FFFFFF;



}
.grande {

	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 32px;
	font-weight: bolder;
	letter-spacing: 1px;
	word-spacing: normal;
}
#izqtop {
	position: absolute;
	visibility: visible;
	z-index: 1;
	height: 100px;
	width: 300px;
	left: 0px;
	top: 0px;
	text-align: left;
	vertical-align: bottom;

}
#dertop {
			position: absolute;
	visibility: visible;
	z-index: 1;
	height: 100px;
	width: 200px;
	left: 300px;
	top: 0px;
	text-align: right;
	vertical-align: bottom;
}
#izq {
	position: absolute;
	visibility: visible;
	z-index: 1;
	height: 300px;
	width: 300px;
	left: 0;
	top: 100;
	text-align: right;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 15px;
	font-weight: bolder;
	color: #FFFFFF;

}
#der {
	text-align: right;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	font-weight: bolder;
	color: #FFFFFF;
	position: absolute;
	visibility: visible;
	z-index: 1;
	height: 300px;
	width: 200px;
	left: 300px;
	top: 100px;
	

}
#big {
	position: absolute;
	visibility: visible;
	z-index: 1;
	height: 400px;
	width: 500px;
	left: 25%;
	top: 18%;
}